<div style="padding-left: 20px; padding-right: 20px">
    <button class="btn" ng-click="reload()">Reload</button>
    <br/>

    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}"/>

    <div class="row">
        <div class="span11">
            <h3 ng-style="mystyle" ng-bind="event.name"/>
        </div>
    </div>

    <div class="row">
        <div class="span3">
            <div><strong>Date:</strong> {{event.date}}</div>
            <div><strong>Time:</strong> {{event.time}}</div>
        </div>
        <div class="span4">
            <address>
                <strong>Address:</strong><br/>
                {{event.location.address}}<br/>
                {{event.location.city}}, {{event.location.province}}
            </address>
            <div/>
        </div>
    </div>

    <div class="row">
        <div class="span11" style="padding-left: 20px; padding-right: 20px;">
            <hr/>
            <h3>Sessions</h3>
        </div>
    </div>

    <div style="padding-bottom: 20px">
        <button type="button" class="btn btn-primary" ng-click="doTest()">save as id9</button>
    </div>

    <ul class="thumbnails">
        <li ng-repeat="session in event.sessions">
            <div class="row session">
                <upvote count="{{session.upVoteCount}}" upvote="upVote(session)" downvote="downVote(session)"/>
                <div class="well span9">
                    <h4 class="well-title">{{session.name}}</h4>

                    <p>{{session.duration | duration}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
