<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8"/>
    <title>Cookies Sample</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/app.css"/>
</head>

<body>
<div class="container">
    <div ng-controller="CookieStoreCtrl" style="padding-left: 20px; padding-right: 20px">
        <div class="container">
            <h4>Cookies</h4>
            <button type="button" class="btn" ng-click="saveCookie(event)">Save Cookie</button>
            <button type="button" class="btn" ng-click="loadCookie()">Load Cookie</button>
            <button type="button" class="btn" ng-click="removeCookie()">Remove Cookie</button>

            <br/>
            <br/>
            event:
            <p>{{event | json}}</p>

            <br/>
            <br/>
            event in cookie:
            <p>{{cEvent}}</p>
        </div>
    </div>

    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/underscore-1.4.4.min.js"></script>
    <script src="./lib/bootstrap.min.js"></script>
    <script src="./lib/angular/angular.js"></script>
    <script src="./lib/angular/angular-route.js"></script>
    <script src="./lib/angular/angular-sanitize.js"></script>
    <script src="./lib/angular/angular-resource.js"></script>
    <script src="./lib/angular/angular-cookies.js"></script>

    <script src="./js/app.js"></script>
    <script src="./js/filters.js"></script>
    <script src="./js/controllers/CookieStoreCtrl.js"></script>
</body>
</html>
